
.home{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background:url('https://preview.redd.it/zzw4j5spu9g41.png?width=1920&format=png&auto=webp&s=33fb66fb6b8951cdd4a3741316def335c097f343');
    background-size: cover;
}